button {
    padding: 0px 8px;
    border: 0px;
    height: 36px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    border: solid 1px transparent;
}

button.primary {
    background-color: #dd0031;
    color: white;
}

button.primary:hover {
    background-color: #df3e62;
    color: white;
}

button.secondary {
    background-color: black;
    color: white;
}

button.primary.outline {
    border: solid 1px #dd0031 !important;
    background-color: transparent;
    color: #dd0031;
}

button.primary.outline:hover {
    border: solid 1px #dd0031 !important;
    background-color: #dd0031;
    color: #FFFFFF;
}

button.secondary.outline {
    border: solid 1px #000000 !important;
    background-color: transparent;
    color: #000000;
}

button.secondary.outline:hover {
    border: solid 1px #000000 !important;
    background-color: #000000;
    color: #FFFFFF;
}