<div class="room-card-container">
    <div class="photo">
        <img src="/assets/imgs/pexels-pixabay-271624.jpg" alt="habitacion">
    </div>
    <div class="room-card-footer">
        <h2 class="title">Advanced Card</h2>
        <p class="subtitle">Card Subheader</p>
        <p style="text-align: justify;">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, illum maiores earum rerum natus iusto aliquid voluptatum vitae odio repellat. Odit tenetur error at illum? Dolorum praesentium culpa officia architecto.
        </p>
        <div class="button-container">
            <button class="custom-button reserva active">Reservar</button>
            <button class="custom-button outline active">Ver detalles</button>
        </div>
    </div>
</div>
