<div class="main-container">
    <div class="header">
        <div class="header-container">
            <div style="display: flex; align-items: center; color: white; gap: 6px;">
                <mat-icon fontIcon="mail" style="font-size: 24px;"></mat-icon>
                <span>
                    <a href="mailto:info@myhotel.com" class="header-link"> info@myhotel.com </a>
                </span>
            </div>
            <div style="display: flex; flex-direction: column; align-items: center; color: white;">
                <div style="color: #b08d54">
                    <mat-icon fontIcon="star" style="font-size: 24px;"></mat-icon>
                    <mat-icon fontIcon="star" style="font-size: 24px;"></mat-icon>
                    <mat-icon fontIcon="star" style="font-size: 24px;"></mat-icon>
                    <mat-icon fontIcon="star" style="font-size: 24px;"></mat-icon>
                    <mat-icon fontIcon="star" style="font-size: 24px;"></mat-icon>
                </div>
                <span style="font-size: 18px;">
                    HOTEL MONTERIA
                </span>
                <span>
                    Monteria - Cordoba, Colombia
                </span>
            </div>
            <div style="display: flex; align-items: center; color: white; gap: 6px;">
                <mat-icon fontIcon="call" style="font-size: 24px;"></mat-icon>
                <span>
                    <a href="cel:+573022549615" class="header-link"> (+57) 3022549615 </a>
                </span>
            </div>
        </div>
    </div>
    <nav class="nav-list">
        <li> Site 1 </li>
        <li> Site 2 </li>
        <li> Site 3 </li>
        <li> Site 4 </li>
        <li> Site 5 </li>
        <li> Site 6 </li>
    </nav>
    <div class="search">
        <div class="form-group">
            <div class="search-container">
                <div class="form-inputs">
                    <input type="text" name="" id="">
                    <input type="text" name="" id="">
                    <input type="text" name="" id="">
                    <input type="text" name="" id="">
                    <button>Reservar ahora</button>
                </div>
            </div>
        </div>
    </div>
</div>
