<div class="main-container">
    <div class="header">
        <div class="header-container">
            <div style="display: flex; align-items: center; color: white; gap: 6px;">
                <mat-icon fontIcon="mail" style="font-size: 24px;"></mat-icon>
                <span>
                    <a href="mailto:info@myhotel.com" class="header-link"> info@myhotel.com </a>
                </span>
            </div>
            <div style="display: flex; flex-direction: column; align-items: center; color: white;">
                <div style="color: #b08d54">
                    <mat-icon fontIcon="star" style="font-size: 24px;"></mat-icon>
                    <mat-icon fontIcon="star" style="font-size: 24px;"></mat-icon>
                    <mat-icon fontIcon="star" style="font-size: 24px;"></mat-icon>
                    <mat-icon fontIcon="star" style="font-size: 24px;"></mat-icon>
                    <mat-icon fontIcon="star" style="font-size: 24px;"></mat-icon>
                </div>
                <span style="font-size: 18px;">
                    HOTEL MONTERIA
                </span>
                <span>
                    Monteria - Cordoba, Colombia
                </span>
            </div>
            <div style="display: flex; align-items: center; color: white; gap: 6px;">
                <mat-icon fontIcon="call" style="font-size: 24px;"></mat-icon>
                <span>
                    <a href="cel:+573022549615" class="header-link"> (+57) 3022549615 </a>
                </span>
            </div>
        </div>
    </div>
    <nav class="nav-list">
        <button class="custom-button active">Home</button>
        <button class="custom-button">Accomodation</button>
        <button class="custom-button">About us</button>
        <button class="custom-button">Gallery</button>
        <button class="custom-button">Testimonials</button>
        <button class="custom-button">News</button>
        <button class="custom-button">Contact us</button>
    </nav>
    <div class="search">
        <div class="form-group">
            <div class="search-container">
                <div class="form-inputs">
                    <input type="text" name="" id="" placeholder="Fecha de entrada">
                    <input type="text" name="" id="" placeholder="Fecha de salida">
                    <input type="text" name="" id="" placeholder="Cantidad de personas">
                    <input type="text" name="" id="" placeholder="Ciudad destino">
                    <button class="custom-button reserva active">Buscar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="result-search">
        <div class="result-search-container">
            <app-room-card></app-room-card>
            <app-room-card></app-room-card>
            <app-room-card></app-room-card>
            <app-room-card></app-room-card>
            <app-room-card></app-room-card>
            <app-room-card></app-room-card>
        </div>
        <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
        </mat-paginator>
    </div>
    <div class="footer">
        <div class="mask">
            <div class="information-section">
                <div class="contact-section">
                    <h2>Contacs</h2>
                    <p>
                        CRA 25W No. 17 - 65 BRR Vallejo, Monteria 230001
                        <br>
                        Córdoba - Colombia
                    </p>
                    <p>
                        <a href="mailto:info@jairoserver.com" style="color: #ffd740; text-decoration: none;">info@jairoserver.com</a>
                        <br>
                        <a href="cel:3022549615" style="color: #ffd740; text-decoration: none;">(+57) 3022549615</a>
                    </p>
                </div>
                <div class="explore">
                    <h2>Explore</h2>
                    <p>
                        Home <br>
                        Accomodation <br>
                        About us <br>
                        Gallery <br>
                        Testimonials <br>
                        News <br>
                        Contact us
                    </p>
                </div>
                <div class="newsletter">
                    <h2> Newsletter </h2>
                    <input type="text" name="" id="" placeholder="Your email" style="padding: 4px; height: 24px; outline: none; border-radius: 24px; padding: 4px 12px">
                    <p style="margin-top: 1rem;">
                        Receive last offers and promos without spam.
                        <br>
                        You can cancel anytime.
                    </p>
                    <button class="custom-button reserva active">Subscribirme</button>
                </div>
            </div>
            <div class="author-section">
                <span>
                    © Travel Agency - by <a href="https://github.com/jcvilladiegoc" target="_blank">jcvilladiegoc</a>
                </span>
            </div>
        </div>
    </div>
</div>
