<div class="main-container">
    <div class="header">
        <div>
            email
        </div>
        <div>
            logo
        </div>
        <div>
            phone
        </div>
    </div>
    <nav class="nav-list">
        <li> Site 1 </li>
        <li> Site 2 </li>
        <li> Site 3 </li>
        <li> Site 4 </li>
        <li> Site 5 </li>
        <li> Site 6 </li>
    </nav>
    <div class="search">
        <div class="form-group">
            <div class="search-container">
                <div class="form-inputs">
                    <input type="text" name="" id="">
                    <input type="text" name="" id="">
                    <input type="text" name="" id="">
                    <input type="text" name="" id="">
                    <button>Reservar ahora</button>
                </div>
            </div>
        </div>
    </div>
</div>
