.main-container {

    background-image: url(/assets/imgs/wireframe-one.png);
    height: 718px;
    opacity: 0.8;
    opacity: 1;

    .header {

        height: 140px;
        background-color: rgba($color: red, $alpha: 0.5);
        background-color: black;
        display: grid;
        justify-content: center;

        .header-container {
            width: 1170px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    }

    .nav-list {
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 24px;
        height: 58px;
        background-color: rgba($color: green, $alpha: 0.5);
        background-color: #dd0031;
        align-items: center;
    }

    .search {
        background-color: rgba($color: purple, $alpha: 0.5);
        background-image: url(/assets/imgs/pexels-chan-walrus-941861.jpg);
        background-size: contain;
        height: 520px;
        display: grid;
        align-items: end;

        .form-group {
            background-color: rgba($color: orange, $alpha: 0.5);
            background-color: transparent;
            height: 74px;
            display: grid;
            justify-items: center;
        }

    }

    .search-container {

        width: 1170px;
        background-color: rgba($color: blue, $alpha: 0.5);
        height: 74px;

        .form-inputs {

            background-color: rgba($color: blue, $alpha: 0.5);
            background-color: black;
            height: 64px;
            border-top: solid 10px rgba($color: pink, $alpha: 0.5);
            border-top-color: #424242;
            border-top-color: #dd0031;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            input, button {
                width: 210px;
                height: 34px;
            }

            input {
                padding: 4px;
                height: 24px;
                outline: none;
            }

        }

    }

    .result-search {

        display: grid;
        justify-content: center;
        width: 100%;

        .result-search-container {
            max-width: 1170px;
            width: 100%;
            padding: 3rem 0rem;
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            justify-content: space-between;
        }

    }

    .footer {

        margin-top: 3rem;
        background-image: url(/assets/imgs/wireframe-footer.png);
        background-image: url(/assets/imgs/pexels-asman-chema-594077.jpg);
        background-size: cover;
        height: 590px;
        // height: 670px;

        .mask {

            display: block;
            background-color: rgba($color: pink, $alpha: 0.5);
            background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 0.5) 100%);

            .information-section {
                height: 370px;
                background-color: rgba($color: brown, $alpha: 0.5);
                background-color: transparent;
                max-width: 80%;
                width: 100%;
                margin: auto;
                color: white;
                display: flex;
                justify-content: space-between;
                padding-top: 150px;
            }

            .author-section {

                height: 70px;
                background-color: rgba($color: yellow, $alpha: 0.5);
                background-color: #1f2127;
                display: grid;
                justify-content: center;
                align-items: center;
                color: white;

                span a {
                    text-decoration: none;
                    color: white;
                }
            }

        }
    }

}

a.header-link {
    text-decoration: none;
    color: white;
}

button.custom-button {
    padding: 0px 8px;
    border: 0px;
    height: 36px;
    background-color: transparent;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}

button.custom-button:hover {
    background-color: rgba($color: white, $alpha: 0.8);
    color: black;
}

button.custom-button.active {
    background-color: white;
    color: black;
}

button.custom-button.reserva {
    background-color: #dd0031;
    color: white;
}