.main-container {

    background-image: url(/assets/imgs/wireframe-one.png);
    height: 718px;
    opacity: 0.8;

    .header {
        height: 141px;
        background-color: rgba($color: red, $alpha: 0.5);
    }

    .nav-list {
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 24px;
        height: 58px;
        background-color: rgba($color: green, $alpha: 0.5);
        align-items: center;
    }

    .search {
        background-color: rgba($color: purple, $alpha: 0.5);
        height: 520px;
        display: grid;
        align-items: end;
    }

    .form-group {
        background-color: rgba($color: orange, $alpha: 0.5);
        height: 74px;
        display: grid;
        justify-items: center;
    }

    .search-container {
        width: 1170px;
        background-color: rgba($color: blue, $alpha: 0.5);
        height: 74px;
    }

    .form-inputs {

        background-color: rgba($color: blue, $alpha: 0.5);
        height: 64px;
        border-top: solid 10px rgba($color: pink, $alpha: 0.5);
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        input, button {
            width: 210px;
            height: 34px;
        }

    }

}
